.container{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 270px;
    border-radius: 20px;
    background-color: beige;
    box-shadow: 0 0 20px rgb(5, 255, 172);
    transition: all 0.5 ease;
    text-align: start;
    
    

}

.container:hover{
    transform: scale(1.1);
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.button{
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    background-color: gold;
    color: blanchedalmond;

}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

img{
    width: 200px;
    border-radius: 10px 10px 0 0;
}

.imageContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    margin-top: 30px;
}

.name{
    background-color: rgb(224, 204, 192);
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkmagenta;
    margin-top:  0px;
    height: 20px;
    font-size: 15px;
    
}
.propsContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(168, 189, 94);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 0 0 20px 20px;
    font-size: 10px;
    
}

.propsContainer h2{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}